[user]
	name = jonathanvalade
	email = jonathan.valade@outlook.com
	
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[color]
	ui = auto

[safe]
	directory = /Users/jonathanvalade/dotfiles
